@model IEnumerable<CPAT.Models.AcademicTerms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Term</a>
</p>

    <div class="row ">
        <div class="col-8">
            <table class="table table-striped border">
                <thead>
                    <tr class="table-info">
                        <th>
                            @Html.DisplayNameFor(model => model.Season)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Season)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year.Year)
                            </td>
                            <td>
                                <partial name="_TableButtonPartial" model="item.Id" />

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

